<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Update to your %store_name credit memo" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var comment":"Credit Memo Comment",
"var creditmemo.increment_id":"Credit Memo Id",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status"
} @-->
{{template config_path="design/email/header_template"}}

<table>
     <tr class="email-intro">
            <td>
              <h1 class="odr-num" style="border: 3px solid rgb(199, 101, 101) !important; padding: 10px !important; text-align:center !important; color:#fff !important">{{trans 'Order No:<span class="no-link"> #%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
              <h2 class="purc-odr" style="font-size: 25px !important;  line-height: 4 !important; text-align: center !important; color: rgb(255, 255, 255) !important; background: rgb(0, 0, 0) !important;"> {{trans 'Thank you for your purchase <span style="color:#c76565"> %customer_name</span>' customer_name=$order_data.customer_name  |raw}}</h2>
                <h1 class="confrm-odr" style="font-size: 25px !important; text-align: center !important; color: rgb(255, 255, 255) !important;">{{trans 'Order confirmed -<span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
                <p class="text-white" style="color:#fff !important; text-align:center !important">You are awesome !!</p>
                <p class="text-white" style="color: rgb(255, 255, 255)!important;  text-align: center !important;">
                    {{trans "Your order is now confirmed. You will shortly receive an email with the details of your customised product. 
                    We are working hard to ensure your  delivery is on time. Once your package is on the way, our representative will be in touch."}}
                   
                   
                </p>
                <p  class="text-white" style="color: rgb(255, 255, 255)!important;"> {{trans 'You can check the status of your order by writing to us on <a href="mailto:%store_email"> %store_email</a>.'  store_email=$store_email |raw}}</p>
                <p class="text-white">
                  
                    {{depend store_hours}}
                        {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                    {{/depend}}
                </p>
                <p><span><a href="#" class="view" style="color: #c76565;">View your order</a></span> <span class="text-white" style="color: rgb(255, 255, 255)!important;">or </span><span class="view"><a href="https://thepapercutshop.com/stationery.html"  style="color: #c76565; text-decoration: underline;"  class="view">Visit our store.</a> </span></p>
            </td>
        </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
